body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

html {
  min-height: 0px;
}

/* Dark Light */
#app[data-theme="LIGHT"] {
  color: black;
}
/* 
Dark Mode
#app[data-theme = "DARK"] {
} */

.headerText {
  font-size: 1.125rem;
  font-weight: 700;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

button {
  border-radius: 16px;
  border: 1px solid rgba(187, 153, 255, 0.5);
  padding: 10px;
  background: transparent;
  color: rgb(187, 153, 255);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
}

button:hover {
  text-decoration: none;
  background-color: rgba(187, 153, 255, 0.08);
  border: 1px solid rgb(187, 153, 255);
}

button:active {
  background-color: rgba(187, 153, 255, 0.2);
  box-shadow: 0 0 8px rgba(187, 153, 255, 0.5);
  border-color: rgb(187, 153, 255);
}

input[type="file"] {
  display: none;
}
.fileInputLabel {
  border: 2px dashed #bbb;
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(187, 153, 255, 0.1);
  color: rgb(187, 153, 255);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fileInputLabel:hover {
  background-color: rgba(187, 153, 255, 0.2);
  color: white;
}

.fileInputLabel:active {
  background-color: rgba(187, 153, 255, 0.3);
  color: white;
}

fieldset {
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.23);
  border-style: 1px solid;
  display: flex;
  flex-direction: column;
  width: auto;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#app[data-theme="LIGHT"] fieldset {
  border-color: rgba(0, 0, 0, 0.23);
}
fieldset:hover {
  border-color: rgba(255, 255, 255, 0.753);
}
#app[data-theme="LIGHT"] fieldset:hover {
  border-color: rgba(0, 0, 0, 0.87);
}
/* details {
  display: flex;
  flex-direction: column;
} */

.fullSizeText {
  flex-grow: 1;
  width: 100%;
  resize: vertical;
  background-color: transparent;
  /* border: none; */
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
}

select {
  border: none;
  height: 4ch;
  border-radius: 8px;
  max-width: 100%;
  background: transparent;
}

#app[data-theme="DARK"] select {
  color: inherit;
}
